
.home{
margin-top: 25px;


}

.home .title {

    font-size:2rem;
    font-weight: 200px;
    line-height: 32px;

}

.home .subtitle{
  font-size: 1.1em;

}


.card{
  margin-top: 33px;
  height: 550px;
}

body{background-color: red;}